@import '../../styles/globalTheme.module.scss';

.table {
  margin: 0 auto;
  width: 90%;
  max-width: $md-screen;
}

.subscription-info {
  span {
    color: var(--color-success-text);
    font-weight: bold;
  }
}
