.first-button {
  margin-right: 5px;
}

.language-container {
  display: inline-flex;
  grid-template-columns: 100px 100px 100px;
  text-align: left;
}

.imdb-link {
  margin-right: 10px;
}

.imdb-link:hover,
.imdb-link:active {
  color: orange;
}
