html[darkmode] {
  // Generate dark palettes for theme colors from color tool
  // https://material.io/resources/color
  $primary: #274e67;

  $theme-colors: (
    'primary': $primary,
  );

  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  // Simply switch background & text color
  --#{$variable-prefix}body-color: #{$body-bg};
  --#{$variable-prefix}body-bg: #{$body-color};

  --#{$variable-prefix}body-color-rgb: #{to-rgb($body-bg)};
  --#{$variable-prefix}body-bg-rgb: #{to-rgb($body-color)};

  .card {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
  }
}
