// Taken from https://getbootstrap.com/docs/5.1/layout/breakpoints/
$xs: '(max-width: 576px)';
$sm: '(max-width: 768px)';
$md: '(min-width: 769px)';

$md-screen: 768px;
$xl-screen: 1280px;

$grey: grey;
