// Taken from https://getbootstrap.com/docs/5.1/layout/breakpoints/
$xs: '(max-width: 576px)';
$sm: '(max-width: 768px)';
$md: '(min-width: 769px)';

$md-screen: 768px;
$xl-screen: 1200px;

$grey: grey;
$primary: #557a95;
$primary-hover: #48687f;
$secondary: #e8d2c0;
