@import '../../styles/globalTheme.module.scss';

.logo {
  height: 40px;
  @media #{$md} {
    height: 50px;
  }
}

.menu-item {
  display: none !important;
  @media #{$xs} {
    display: block !important;
  }
}
