.header {
  height: 100px;
  color: #473f3a;
  background-color: #e8d2c0;
  font-size: 2em;
  width: 100%;
  white-space: nowrap;
}

.nowrap-div {
  display: inline-block;
  *display: inline;
  /*for IE 7 */
  *zoom: 1;
  /*for IE 7 */
  vertical-align: top;
}

.div-logo {
  padding: 15px;
}

.header-text {
  font-size: 1.3em;
}
