@import '../../styles/globalTheme.module.scss';

.logo {
  height: 40px;
  filter: $icon-filter-white;
  @media #{$md} {
    height: 50px;
  }
}

.menu-item {
  display: none !important;
  @media #{$xs} {
    display: block !important;
  }
}

.dropdown {
  button {
    color: rgba(255, 255, 255, 0.55) !important;
    background-color: var(--color-navbar-bg) !important;
    border: none !important;
  }

  button:focus {
    box-shadow: none !important;
  }
}

.dropdown:hover {
  button {
    color: rgba(255, 255, 255, 0.75) !important;
  }
}
