@import '../../../styles/globalTheme.module.scss';

.responsive-content {
  padding: 0;
}

.table-style {
  margin: auto;
  width: 90%;
  max-width: $xl-screen;
}

.pagination-style {
  display: flex;
  place-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 15px;
}

.link-button {
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 1rem !important;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
