.tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-div {
  float: left;
  justify-content: left !important;
  text-align: left !important;
}

.logout-button {
  float: right;
}
