.tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-div {
  float: left;
  justify-content: left !important;
  text-align: left !important;
}

.logout-button {
  float: right;
}

.number-items {
  height: 18px;
  width: 18px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.welcome-message {
  font-size: 12px !important;
}
