.container {
  min-height: 100%;
  padding: 20px 0;
}

.movie-details {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
}

.movie-absent {
  border: 1px solid #eee;
}

.movie-present {
  border: 2px solid darkblue;
}

.top-half {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex: 1;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: auto 0;
}

.header-custom {
  height: 35px;
  margin: 0;
}

.header-custom-span {
  font-weight: bold;
  background-color: darkblue;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
  justify-content: left !important;
  text-align: left !important;
  padding: 5px 15px;
  max-width: 340px;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.drawer {
  max-width: 550px !important;
}

.spinner-div {
  height: 2.6em;
  padding: 20px;
}

.close-button {
  float: right;
}
