@import './styles/globalTheme.module.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  font-size: 0.95rem;
  justify-content: center;

  margin: auto;
  text-align: center;
  height: 100%;
}

input {
  font-size: 1rem;
}

textarea {
  resize: none;
  font-size: 1rem !important;
}

:root {
  // this setting enables UA stylesheet to be applied automatically for dark mode
  color-scheme: light dark;

  // Note: bootstrap doesn't support on-the-fly color swapping for light and dark modes
  // Hence, we had to use css variables
  --color-primary: #557a95;
  --color-primary-hover: #48687f;
  --color-body: #212529;
  --color-body-bg: #fff;
  --color-secondary: #e8d2c0;
  --color-secondary-hover: #a29386;
  --color-success: #198754;
  --color-info: #adb5bd;

  /* Box shadows and background colors, START */
  --color-card-box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 20%), 0px 1px 3px 0px rgb(0 0 0 / 20%);
  /* Box shadows and background colors, END */

  @media (prefers-color-scheme: dark) {
    --color-body: #fff;
    --color-body-bg: #212529;
    --color-card-box-shadow: 0px 24px 38px rgba(0, 0, 0, 0.14),
      0px 9px 46px rgba(0, 0, 0, 0.12), 0px 11px 15px rgba(0, 0, 0, 0.2);
    --color-dark-border: 1px solid rgba(255, 255, 255, 0.05);

    /* Box shadows and background colors, START */
    --color-accordion-header-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.14),
      0px 6px 30px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.2);

    --color-navbar-box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14),
      0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);

    /* Elevation Overlay / 12dp */
    --color-navbar-bg: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.14),
        rgba(255, 255, 255, 0.14)
      ),
      var(--color-body-bg);

    /* Elevation Overlay / 24dp */
    --color-card-bg: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.16),
        rgba(255, 255, 255, 0.16)
      ),
      var(--color-body-bg);
    /* Box shadows and background colors, END */
  }
}

/*
Note: chart-js styling, START
*/
canvas {
  margin: 0 auto;
}
/*
Note: chart-js styling, END
*/

/*
Note: global classes, START
*/
.snackbar-item-root {
  div {
    width: 100% !important;
    div {
      flex: 1;
      justify-content: space-between;
    }
  }
}

.error-text {
  color: red;
  margin-top: 30px;
}

.error-text-small {
  color: red;
  font-size: 0.8rem;
}

.spinner-full-page {
  padding: 40px;
}
/*
Note: global classes, END
*/
