@import './styles/globalTheme.module.scss';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  // this setting enables UA stylesheet to be applied automatically for dark mode
  color-scheme: light dark;

  // Note: bootstrap doesn't support on-the-fly color swapping for light and dark modes
  // Hence, we had to use css variables
  --color-primary: #557a95;
  --color-body: #fff;
  --color-body-bg: #212529;
  --color-secondary: #e8d2c0;
  --color-success: #198754;
  --color-info: #adb5bd;

  @media (prefers-color-scheme: dark) {
    // Generate dark palettes for theme colors from color tool
    // https://material.io/resources/color
    --color-primary: #84a9c6;
    --color-body: #212529;
    --color-body-bg: #fff;
  }
}

html,
body {
  font-size: 0.95rem;
  justify-content: center;

  margin: auto;
  text-align: center;
  height: 100%;
}

input {
  font-size: 1rem;
}

textarea {
  resize: none;
  font-size: 1rem !important;
}

/*
Note: chart-js styling, START
*/
canvas {
  margin: 0 auto;
}
/*
Note: chart-js styling, END
*/

/*
Note: global classes, START
*/
.snackbar-item-root {
  div {
    width: 100% !important;
    div {
      flex: 1;
      justify-content: space-between;
    }
  }
}

.error-text {
  color: red;
  margin-top: 30px;
}

.error-text-small {
  color: red;
  font-size: 0.8rem;
}

.spinner-full-page {
  padding: 40px;
}
/*
Note: global classes, END
*/
