* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  font-size: 0.95rem;
  justify-content: center;

  margin: auto;
  text-align: center;
}

input {
  font-size: 1rem;
}

textarea {
  resize: none;
  font-size: 1rem !important;
}

.margin-b-10 {
  margin-bottom: 20px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-30 {
  margin-right: 30px;
}

.padding-30 {
  padding: 30px;
}

.error-text {
  color: red;
}

.right-spacer {
  margin-right: 15px !important;
}

.error-text-small {
  color: red;
  font-size: 0.8rem;
}

.chip-spacer {
  margin-right: 3px;
}

/* 
-----------------------------------------------------------------------------
 UI related styles START
-- Note: some styles, if they are to be assigned individually within the instance itself
--       will require styles to be set at each and every instance of that class. Therefore, setting them globally. 
-----------------------------------------------------------------------------
*/

:global(table td) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  max-width: 0;
}

:global(tr > td:hover) {
  overflow: visible;
  white-space: unset;
}

:global(.MuiToolbar-regular) {
  min-height: auto !important;
}

/* 
-----------------------------------------------------------------------------
 UI related styles END
-----------------------------------------------------------------------------
*/

/* 
-----------------------------------------------------------------------------
Material UI related styles START
-- Note: some styles, if they are to be assigned individually within the instance itself
--       will require styles to be set at each and every instance of that class. E.g. TableCell
--       This is tedious. Therefore, setting them globally. 
-----------------------------------------------------------------------------
*/

:global(.MuiChip-root) {
  height: 26px !important;
}

:global(.MuiTableCell-root) {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

:global(.MuiTabs-root) {
  height: 38px !important;
  min-height: auto !important;
}

:global(.MuiTab-root) {
  min-height: auto !important;
}

:global(.MuiBox-root) {
  padding-top: 5px !important;
}

:global(.MuiPagination-root) {
  display: flex;
  justify-content: center;
}

:global(.MuiCheckbox-root) {
  color: rgba(0, 0, 0, 0.3) !important;
}

:global(.MuiDialogActions-root) {
  padding: 16px 24px !important;
}

:global(.MuiDialogTitle-root) {
  text-align: left;
  border-bottom: 1px solid #cacdd2;
  padding: 16px 0px 16px 24px !important;
}

:global(.MuiDialogContent-root) {
  padding: 24px !important;
  border-bottom: 1px solid #cacdd2;
}

:global(.MuiDialogContentText-root) {
  margin-bottom: 0px !important;
  text-align: left !important;
}

/* 
-----------------------------------------------------------------------------
Material UI related styles END
-----------------------------------------------------------------------------
*/
