* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


html, body {
  font-size: 1rem;
  justify-content: center;
  
  margin: auto;
  text-align: center;
}

input {
  font-size: 1rem;
}

textarea {
  resize: none;
  font-size: 1rem!important;
}

.margin-b-20 {
  margin-bottom: 20px;
}

.margin-r-10 {
  margin-right: 10px;
}

.margin-r-30 {
  margin-right: 30px;
}

.error-text {
  color: red;
}