.label-and-input-div {
  margin-right: 20px;
  justify-content: left !important;
  text-align: left !important;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.input-style-search {
  width: 350px;
  height: 30px;
}

.input-style-search-genre {
  width: 230px;
  height: 35px;
}

.input-style-search-half {
  width: 185px;
  height: 30px;
  margin-bottom: 5px;
}

.card-style {
  width: 400px;
  margin: auto;
  padding: 20px;
}

.table-style {
  max-width: '100%';
  margin-top: 10px;
}

.card-title {
  margin: auto;
  padding: 15px;
  font-weight: bold;
}

.pagination-style {
  margin-top: 10px;
}

.genre-output {
  float: left;
}

.genre-button {
  float: right;
}

.button-div {
  margin-top: 30px;
  width: 350px;
  float: left;
}
