.label-and-input-div {
  margin-right: 20px;
  justify-content: left !important;
  text-align: left !important;
  float: left;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.input-style-add-user {
  width: 350px;
  height: 30px;
}

.input-style-add-user-half {
  width: 185px;
  height: 30px;
  margin-bottom: 5px;
}

.card-style {
  width: 400px;
  margin: auto;
  padding: 20px;
}

.table-style {
  max-width: '100%';
  margin-top: 10px;
}

.card-title {
  margin: auto;
  padding: 15px;
  font-weight: bold;
}

.pagination-style {
  margin-top: 10px;
}
