.label-and-input-div {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.input-style-search {
  max-width: 350px;
  width: 80%;
  height: 30px;
  margin-top: 5px;
}

.input-style-select {
  height: 30px;
}

.input-style-form-control {
  max-width: 350px;
  width: 80%;
  margin-top: 5px !important;
}

.input-style-search-genre {
  height: 35px;
  width: 55%;
  margin-top: 5px;
}

.genre {
  margin-right: 10px;
}

.card-style {
  max-width: 450px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
}

.card-title {
  margin: auto;
  padding: 15px;
  font-weight: bold;
}

.genre-button {
  width: 23%;
}

.button-div {
  margin-top: 30px;
}

.helpicon {
  margin-left: 5px;
}

.helptext {
  padding: 10px;
}
