@import '../../../styles/globalTheme.module.scss';

.label-and-input-div {
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.input-style-search {
  max-width: 350px;
  width: 250px;
  height: 30px;

  @media #{$md} {
    width: 328px;
  }
}

.input-style-select {
  height: 30px;
}

.input-style-form-control {
  max-width: 350px;
  width: 250px;
  @media #{$md} {
    width: 328px;
  }
}

.input-style-search-genre {
  height: 35px;
  margin-right: 10px;
  width: 207px;
  @media #{$md} {
    width: 286px;
  }
}

.inter-control-spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.card-style {
  max-width: 450px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
}

.card-title {
  margin: auto;
  padding: 15px;
  font-weight: bold;
}

.genre-button {
  min-width: unset !important;
  padding: 5px 10px !important;
}

.button-div {
  margin-top: 30px;
}

.helpicon {
  margin-left: 5px;
}

.helptext {
  padding: 10px;
}
