@import '../../../styles/globalTheme.module.scss';

$control-width: 250px;
$control-width-md: 328px;
$control-height: 30px;
$icon-width: 30px;

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: $grey;
}

.expand-button {
  min-width: unset !important;
}

.expand-button-rotated {
  transform: rotate(180deg);
}

.input-style-search {
  height: $control-height;

  width: $control-width;
  margin: auto;
  @media #{$md} {
    width: $control-width-md;
  }
}

.input-style-select {
  height: $control-height;
  margin: auto;
}

.input-style-form-control {
  text-align: center;

  width: $control-width;
  @media #{$md} {
    width: $control-width-md;
  }
}

.input-style-search-year-genre {
  margin-right: 5px;
  height: $control-height;
  width: $control-width - 35px;
  @media #{$md} {
    width: $control-width-md - 35px;
  }
}

.same-line-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-style {
  width: 90%;

  @media #{$md} {
    max-width: 450px;
  }
}

.card-title {
  margin-bottom: 0 !important;
}

.help-button {
  padding: 0 !important;
}

.help-button:hover {
  color: unset !important;
  background-color: unset !important;
  border-color: unset !important;
}

.genre-button {
  height: $control-height;
  width: $icon-width;
}

.helpicon {
  height: $control-height;
  width: $icon-width;
  color: $primary;
}

.helpicon:hover {
  color: $primary-hover;
}

.helptext {
  text-align: center;
}
